{% extends "::base.html.twig" %}

{% block body %}
	<div class="container">
	{% for group in scores %}
		<table class="table-bordered table">
			<thead>
			<tr>
				<th class="padding">Ecole {{ group.teacher.school }} {{ group.name }},  de {{ group.teacher.firstName }} {{ group.teacher.lastName }}</th>
				<th class="nameScore" >Score</th>
			</tr>
			</thead>
			<tbody>
			{% for team in group.team %}
				<tr class="{{ loop.first ? 'first' }}">
					<td class="padding">{{ team.name }}</td>
					<td class="score">{{ team.bestScore }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endfor %}
	</div>
{% endblock %}




